@media (orientation: portrait) {
  #filter-section {
    display: none;
  }

  #display-section {
    width: 100vw;
  }
}

@media (orientation: landscape) {
  #filter-section {
    width: 20vw;
  }

  #display-section {
    width: 80vw;
  }
}

* {
  font-family: Helvetica, sans-serif;
}

.make-invisible {
  visibility: hidden;
}

#explore-top-level {
  display: flex; /* Row alignment */
  margin-top: 5%;
  height: 80vh; /* Relative height */
}

#filter-section {
  background-color: #e7e4e6;
  border-radius: 1vw;
  padding: 2.5vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#filter-by-text {
  font-weight: bold;
  font-size: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.filter-choice {
  font-size: min(25px, 3vw);
  margin: 0;
}

/* Checkbox related */

.checkbox-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

input[type="checkbox"] {
  width: min(30px, 4vw);
  align-self: center;
  height: min(30px, 4vh);
  box-shadow: none;
  cursor: pointer;
}

label {
  align-self: center;
  margin-left: 3vw;
  font-size: min(18px, 2vw);
  cursor: pointer;
}

/* END Checkbox Related */
.form-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

input[type="number"] {
  width: min(50px, 20vw);
  align-self: center;
  height: min(30px, 4vh);
  box-shadow: none;
}

p.filter-cooking-time {
  font-size: min(20px, 3vw);
  margin: 0;
}

#display-section {
  border-radius: 1vw;
  background-color: hsl(359deg 60% 75%);
  padding: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Details taken from  https://www.w3schools.com/howto/howto_css_searchbar.asp */
#search-bar {
  border: 1px solid #000;
  box-sizing: border-box;
  box-shadow: 0 4px 4px rgba(0 0 0 / 25%);
  border-radius: 0.5vw;
  font-size: 1em;
  height: 5%;
  width: 70%;
  text-align: center;
  background-image: url("/source/images/magnifyingglass.png");
  background-repeat: no-repeat;
  background-position: 1vw;
}

#explore-title-text {
  height: 10%;
  font-weight: bold;
  font-size: 3em;
  text-align: center; /* Title, search for text */
  margin: 1% 0;
}

#no-results-text {
  height: 5%;
  font-size: 1em;
  text-align: center;
  margin: 0;
}

#recipe-cards-section {
  width: 100%;
  height: 70%;
  margin-bottom: 1%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 45% 45%;
  justify-content: space-between;
  align-content: space-between;
}

#load-button {
  /* Details taken from Figma */
  border: 1px solid #adadad;
  border-radius: 1vw;
  box-sizing: border-box;
  height: 7%;
  width: 15%;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

#load-button:hover {
  filter: brightness(120%);
}

#load-button:active {
  filter: brightness(100%);
}
