main {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  display: flex; /* Row alignment */
  margin-top: 5%;
  height: 80vh; /* Relative height */
}

.filter-section {
  text-align: center;
  background-color: #f5f3f4;
  width: 20vw;
  font-size: 30px;
}

.display-section {
  text-align: center;
  align-items: center;
  width: 80vw;
  text-align: center; /*Title, search for text*/

  font-size: 45px;

  display: flex;
  flex-direction: column;
}

.load-button {
  /*Details taken from Figma*/
  border: 1px solid #adadad;
  border-radius: 16px;
  box-sizing: border-box;
  height: 48px;
  width: 146px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

/* Details taken from  https://www.w3schools.com/howto/howto_css_searchbar.asp*/
input {
  float: right;
  padding: 6px;
  border: double;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  width: 70%;
}
