@media (orientation: landscape) {
  #footer-img {
    width: 100vw;
    max-height: 5vh;
    position: fixed;
    bottom: 0;
    z-index: 1000;
  }
}

@media (orientation: portrait) {
  #footer-img {
    display: none;
    z-index: 1000;
  }
}
