.notification {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0 0 0 / 20%);
  width: 300px;
  z-index: 999;
  font-weight: bold;

  /* Used for the popup */
  opacity: 0%;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.notification .close {
  color: #fff;
  background-color: #ba181b;
  border: transparent;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  vertical-align: middle;
  position: absolute;
  right: 16px;
}

.close:hover {
  transition: 0.5s;
  background: #a11d1f;
}

.secondary-button {
  background-color: #ba181b;
  color: #fff;
  border: transparent;
  padding: 10px;
  border-radius: 5px;
}

.secondary-button:hover {
  transition: 0.5s;
  background: #a11d1f;
}
