* {
  font-family: Helvetica, sans-serif;
}

#recipe-card-top-level {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#recipe-id {
  display: none;
}

#recipe-card {
  width: 100%;
  height: 100%;
  background-color: #f2e4e9;
  padding: 3%;
  border-radius: 1vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

#recipe-card-image {
  max-width: 70%;
  max-height: 60%;
  border-radius: 1vw;
}

#recipe-card-title {
  height: 20%;
  margin: 0;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#recipe-buttons-container {
  width: 100%;
  height: 20%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#recipe-info-button {
  width: 60%;
  appearance: none;
  background: none;
  color: #3f3f3f;
  border-radius: 1.5vw;
  border-style: solid;
  border-color: #8f8f8f;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#recipe-info-button:hover {
  filter: brightness(120%);
}

#recipe-info-button:active {
  background: none;
  filter: brightness(100%);
}

#recipe-info {
  font-size: 0.7em;
  font-weight: bold;
}

#recipe-card-action {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

#recipe-card-action-button {
  background: none;
  padding: 0;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#recipe-card-action-button:hover {
  filter: brightness(120%);
}

#recipe-card-action-button:active {
  background: none;
  filter: brightness(100%);
}

#recipe-card-action-image-outline {
  width: 2.5vw;
  height: 2.5vw;
  border-style: solid;
  border-width: 0.35vh;
  border-radius: 50vw;
  border-color: #7a7a7a;
  display: flex;
  justify-content: center;
  align-items: center;
}

#recipe-card-action-image-content {
  width: 2.5vw;
  height: 2.5vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#recipe-card-action-image-content::before {
  content: "";
  position: absolute;
  background: #7a7a7a;
  width: 0.2vw;
  height: 1.5vw;
}

#recipe-card-action-image-content::after {
  content: "";
  position: absolute;
  background: #7a7a7a;
  height: 0.2vw;
  width: 1.5vw;
}
