* {
  font-family: Inter, sans-serif;
  font-style: normal;
}

body {
  margin: 0;
}

h2 {
  display: flex;
  padding: 20px;
  font-size: 35px;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
}

.title {
  display: flex;
  font-weight: 800;
}

.recipe-container {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.recipe-cards {
  display: flex;
  background-color: #e5383b;
}

.button-name {
  font-weight: bold;
  padding: 20px;
  line-height: 32px;
}

.add-button {
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

button {
  display: flex;
  border-radius: 50%;
  filter: brightness(115%);
  color: transparent;
}

@media (hover: hover) {
  button:hover {
    filter: brightness(90%);
  }
}

button::before {
  border-radius: 8px;
  content: "";
  position: relative;
  left: 50%;
  top: 50%;
}

button::after {
  border-radius: 8px;
  content: "";
  position: relative;
  left: 50%;
  top: 50%;
}

@media (orientation: landscape) {
  /* for desktop */
  .title-container {
    width: 100%;
    max-width: 1100px;
    padding: 16px;
  }

  .title {
    font-weight: 800;
    font-size: 45px;
    line-height: 104px;
  }

  .recipe-container {
    column-gap: 20px;
    width: 100%;
    flex-direction: row;
    row-gap: 20px;
    padding-bottom: 30px;
    margin-bottom: 50px;
  }

  .recipe-cards {
    width: 285px;
    height: 339px;
    border-radius: 10%;
  }

  .add-button {
    max-width: 1100px;
    padding: 16px;
  }

  .button-name {
    font-size: 18px;
  }

  button {
    width: 44px;
    height: 44px;
    border: 4px solid #e5383b;
  }

  button::before {
    width: 18px;
    margin-left: -9px;
    margin-top: -1px;
    border-top: 4px solid #e5383b;
  }

  button::after {
    height: 18px;
    margin-left: -11px;
    margin-top: -8px;
    border-left: 4px solid #e5383b;
  }

  button:hover {
    cursor: pointer;
  }
}

@media (orientation: portrait) {
  /* for mobile phones: */
  .title-container {
    width: 100%;
    margin: 0 auto;
  }

  .title {
    font-size: 40px;
    line-height: 100px;
  }

  .recipe-container {
    width: 100%;
    flex-direction: column;
    row-gap: 50px;
    padding-bottom: 50px;
    margin-bottom: 60px;
  }

  .recipe-cards {
    width: 90%;
    height: 300px;
    border-radius: 30px;
  }

  .add-button {
    max-width: 600px;
    padding: 20px;
  }

  .button-name {
    font-size: 30px;
  }

  button {
    width: 60px;
    height: 60px;
    border: 8px solid #e5383b;
  }

  button::before {
    width: 30px;
    margin-left: -15px;
    margin-top: -4px;
    border-top: 8px solid #e5383b;
  }

  button::after {
    height: 30px;
    margin-left: -18px;
    margin-top: -14px;
    border-left: 8px solid #e5383b;
  }
}
