<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Impasta Rosta - Explore</title>

    <!-- Main Stylesheet & Scripts -->
    <link rel="stylesheet" href="/source/styles/explore-page.css" />
    <script src="/source/scripts/explore-page.js" type="module"></script>
  </head>

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    rel="stylesheet"
  />

  <body>
    <!-- TODO: Navbar should go here -->

    <!-- Main contains filter section with recipe cards -->
    <main>
      <!-- Filter by display -->
      <section class="filter-section">
        <p class="filter-by-text">Filter by:</p>

        <!-- Each filter category goes here -->
        <p class="filter-choice">Cuisine</p>
        <form class="filter-cuisine-choices">
          <div class="checkbox-container">
            <input
              type="checkbox"
              id="breakfast"
              name="breakfast"
              value="breakfast"
            />
            <label for="breakfast">Breakfast</label>
          </div>
          <div class="checkbox-container">
            <input type="checkbox" id="lunch" name="lunch" value="lunch" />
            <label for="lunch">Lunch</label>
          </div>
          <div class="checkbox-container">
            <input type="checkbox" id="dinner" name="dinner" value="dinner" />
            <label for="dinner">Dinner</label>
          </div>
          <div class="checkbox-container">
            <input type="checkbox" id="brunch" name="brunch" value="brunch" />
            <label for="brunch">Brunch</label>
          </div>
        </form>
      </section>

      <!-- Display with search bar, food options -->
      <section class="display-section">
        <input type="text" placeholder="Search Recipes" />

        <p class="explore-title-text">Explore Recipes</p>
        <section class="recipe-cards-section">
          <p class="no-results-text">No results found</p>
        </section>

        <!-- Load button -->
        <button type="button" class="load-button">Load More</button>
      </section>
    </main>

    <!--TODO: Footer Image Should Go Here-->
  </body>
</html>
