<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/source/styles/style-select-cookbook.css" />
    <title>Notification Select Cookbook Popup</title>
  </head>
  <body>
    <!--Notification Popup Contents-->
    <div class="notification" id="notification">
      <button class="close" id="close">X</button>
      <div class="contents" id="contents">
        <p>Select Cookbook</p>
        <div class="dropdown">
          <select name="cookbooks" id="cookbooks">
            <option value="none">Cookbook Name</option>
            <option value="cookbook1">Cookbook 1</option>
            <option value="cookbook2">Cookbook 2</option>
            <option value="cookbook3">Cookbook 3</option>
            <option value="cookbook4">Cookbook 4</option>
            <option value="cookbook5">Cookbook 5</option>
          </select>
        </div>
      </div>
      <button class="secondary-button">Add</button>
    </div>
  </body>
</html>
