<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/source/styles/style-add.css" />
    <!--Imports the checkmark symbol-->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    />
    <title>Notification Added Popup</title>
  </head>
  <body>
    <!--Notification Popup Contents-->
    <div class="notification" id="notification">
      <button class="close" id="close">X</button>
      <div class="contents" id="contents">
        <i class="fa fa-check"></i>
        <p>Recipe Added!</p>
        <button class="secondary-button">Return To Recipes</button>
      </div>
    </div>
  </body>
</html>
