<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/source/styles/style-delete.css" />
    <title>Notification Delete Popup</title>
  </head>
  <body>
    <!--Notification Popup Contents-->
    <div class="notification" id="notification">
      <button class="close" id="close">X</button>
      <div class="contents" id="contents">
        <p>Recipe Removed!</p>
        <button class="secondary-button">Return To Cookbook</button>
      </div>
    </div>
  </body>
</html>
