
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale= 1.0" />
    <title>Recipe Card</title>

    <link rel="stylesheet" href="/source/styles/RCCstyle.css" />
    <title>Recipe Card</title>
  </head>

  <body>
    <div class="recipe-card">
      <figure>
        <img src="/source/images/pasta.jpg" alt="Card image" />
      </figure>
      <h1>Delicious Pasta Recipe</h1>
      <p id="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
        sodales diam at tellus pellentesque aliquet. Donec placerat nunc sed
        tortor posuere, a posuere lorem facilisis. Fusce non consectetir nibh,
        at aliquet lectus.
      </p>

      <div class="card-meta">
        <button id="recipe-action-button" type="button">
          <p class="recipe-info">Learn More</p>
        </button>
        <div id="recipe-action">
          <button id="recipe-action-button" type="button">
            <div id="recipe-action-image-outline">
              <div id="recipe-action-image-content"></div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
